In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("zomato.csv",error_bad_lines=False, engine="python")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df=df.drop(['url', 'address','phone','reviews_list', 'dish_liked','menu_item'],axis=1)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

(4575, 11)

In [ ]:
df.drop_duplicates()

In [ ]:
df.shape

(4575, 11)

In [ ]:

#first we want to clean the rate column
df['rate'].unique()

In [ ]:
def handlerate(value):
    if(value=='NEW' or value=='-'):
        return np.nan
    else:
        value = str(value).split('/')
        value = value[0]
        return float(value)
    
df['rate'] = df['rate'].apply(handlerate)
df['rate'].head()

In [ ]:
df['rate'].isnull().sum()

0

In [ ]:
df['rate'].fillna(df['rate'].mean(),inplace=True)

In [ ]:
df.info()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.rename(columns = {'approx_cost(for two people)':'Cost2plates', 'listed_in(type)':'Type'}, inplace = True)
df.head()

In [ ]:
df['location'].unique()

In [ ]:
df=df.drop(['listed_in(city)'],axis=1)

In [ ]:
df.head()

In [ ]:
rest_types=df['rest_type'].value_counts(ascending=False)

In [ ]:
rest_types_lessthan200 = rest_types[rest_types<200]
rest_types_lessthan200

In [ ]:
def handle_rest_type(value):
  if(value in rest_types_lessthan200):
    return 'others'
  else:
    return value

df['rest_type']=df['rest_type'].apply(handle_rest_type)
df['rest_type'].value_counts()

In [ ]:
df['Cost2plates'].unique()

In [ ]:
def handlecomma(value):
    value = str(value)
    if ',' in value:
        value = value.replace(',', '')
        return float(value)
    else:
        return float(value)
    
df['Cost2plates'] = df['Cost2plates'].apply(handlecomma)
df['Cost2plates'].unique()

In [ ]:
locations=df['location'].value_counts()
loc_less300=locations[locations < 300]
loc_less300

In [ ]:
def handleloc(value):
  if(value in loc_less300):
    return 'others'
  else:
    return value

df['location']=df['location'].apply(handleloc)
df['location'].value_counts()

In [ ]:
cuisines = df['cuisines'].value_counts(ascending  = False)


cuisines_lessthan100 = cuisines[cuisines<100]



def handle_cuisines(value):
    if(value in cuisines_lessthan100):
        return 'others'
    else:
        return value
        
df['cuisines'] = df['cuisines'].apply(handle_cuisines)
df['cuisines'].value_counts()

In [ ]:
#now we have a clean data
df.head()

In [ ]:
>>> from pathlib import Path  
>>> filepath = Path('folder/subfolder/zomatoclean.csv')  
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  
>>> df.to_csv(filepath,index=False)